BASE_URL="" # main api
NEXT_PUBLIC_API_URL="/api" # current domain/api
NEXTAUTH_SECRET="" # secret code from (API KEY)
ENCRYPTION_KEY="" # secret encryption key
API_KEY="" # ruko api key
API_USERNAME="" # ruko username
API_PASSWORD="" # ruko password
ADMIN_KEY="" # admin key same as API_KEY

# bcrypt salt
SALT=10